.apartments {
  display: flex;
  flex-direction: column;

  &-cards {
    padding-top: 54px;
    position: relative;

    &::before {
      content: "III";
      position: absolute;
      opacity: 0.02;
      top: 0;
      right: calc(50% + 555px);
      transform: translate(50%, 0%);
      line-height: 0.6;

      font-size: 400px;
      font-family: var(--font-family-accent);
    }
  }

  @include mobile {
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  &__title {
    padding-bottom: 34px;
  }

  &__link {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;

    @include hover {
      .apartments__link-image {
        transform: scale(1.1);
        transition-duration: var(--transition-duration);
        filter: contrast(110%) brightness(1.01) saturate(1.2);
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      left: 0px;
      top: 1px;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
    }

    &-image {
      position: relative;
      z-index: 2;
      transition-duration: var(--transition-duration);
    }

    &-title {
      position: absolute;
      z-index: 5;
      bottom: 10%;
      left: 10%;
      font-weight: 300;
      font-size: 24px;
    }
  }
}
