.button {
  @include fluid-text(16, 13);

  height: var(--input-height);
  color: var(--color-light);
  background-color: var(--color-accent);
  font-weight: 700;
  border: 1px solid transparent;
  cursor: pointer;

  @include hover {
    background-color: var(--color-dark);
    border: 1px solid var(--color-accent);
    transition-duration: var(--transition-duration);
  }
}
