.field {
  &__input {
    background-color: var(--color-light);
    color: var(--color-light);
    height: var(--input-height);
    padding: var(--input-padding);
    text-align: center;
    background-color: var(--input-color);
    border: none;
    width: 100%;
    font-size: 14px;

    &::placeholder {
      color: var(--input-placeholder-color);
    }

    &:focus-visible {
      outline: none;
      border: 1px solid var(--color-accent);
    }
  }

  &__privacy {
    font-size: 13px;
    color: #e7e7e7;
    align-self: center;
    text-align: center;

    @include mobile {
      font-size: 10px;
      order: 1;
    }
  }
}
