.footer {
  background-color: var(--color-dark-footer);
  padding-top: 70px;
  padding-bottom: 50px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 14px;
    gap: 30px;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0;
    }

    @include mobile-s {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__logo {
    margin-top: -15px;
    flex: 1;
  }

  &__menu {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      flex: 1;
    }

    &-link {
      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
  }

  &__soc1als {
    &-list {
      display: flex;
      column-gap: 20px;
    }

    &-link {
      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__email {
    font-weight: 700;
    color: var(--color-accent);
  }
}
