.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }

  &--2 {
    --gridColumns: 2;
    gap: 30px;

    @include mobile {
      --gridColumns: 1;
      row-gap: 50px;
    }
  }

  &--4 {
    @include mobile {
      --gridColumns: 2;
      gap: 90px;
    }

    @include mobile-s {
      --gridColumns: 1;
    }
  }
}
