.header {
  padding-top: 30px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
      column-gap: 39px;
    }

    &-link {
      height: 40px;

      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
