.hero {
  margin-top: -100px;
  padding-bottom: 120px;

  height: 842px;
  background-image: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url("../../images/hero/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  &__body {
    padding-top: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // row-gap: 320px;

    @include mobile-s {
      // row-gap: 280px;
    }
  }

  &__title {
    font-family: var(--font-family-accent);
    color: var(--color-accent);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    &-image {
      transition-duration: var(--transition-duration);

      @include hover {
        transform: scale(1.2);
        filter: sepia(100%);
      }

      @include mobile-s {
        top: 230%;
      }
    }
  }

  &__contacts {
    margin-top: 200px;
    font-size: 18px;
    display: flex;
    column-gap: 98px;
    white-space: nowrap;
    margin-left: -58px;

    @include mobile {
      margin-left: 0;
      align-items: center;
      flex-direction: column;
      row-gap: 5px;
    }

    @include mobile-s {
      margin-top: 100px;
    }

    &-inner {
      display: flex;
      align-items: center;
      column-gap: 14px;
    }
  }
}
