.map {
  position: relative;

  &::before {
    @include decor;

    content: "V";
    top: 17%;
  }

  &__title {
    padding-bottom: 34px;

    @include mobile {
      text-align: center;
    }
  }

  &__map {
    display: block;
    padding-top: 54px;
    width: 100%;
    height: 358px;
    background-color: var(--color-dark-footer);
  }
}
