.map {
  position: relative;

  &::before {
    @include decor;

    content: "V";
    top: 17%;
  }

  &__title {
    padding-bottom: 34px;

    @include mobile {
      text-align: center;
    }
  }

  &__image {
    padding-top: 54px;
  }
}
