.questions {
  padding-block: 180px;

  @include tablet {
    padding-block: 100px;
  }

  &__title {
    padding-bottom: 50px;

    @include mobile {
      text-align: center;
    }
  }

  &__field,
  &__button {
    flex: 1;
  }
}
