.testimonials {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

  @include tablet {
    padding-bottom: 100px;
  }

  &::after {
    @include decor;

    content: "II";
    right: 0;
    left: calc(50% + 555px);
    transform: translate(-50%, 0%);
  }

  &__list {
    max-width: 800px;
  }

  &__item {
    white-space: nowrap;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 53px;
    text-align: center;
    font-family: var(--font-family-secondary);
    line-height: 1.3;
  }
}
