.testimonials {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: "II";
    position: absolute;
    z-index: -1;
    top: calc(-30% - 176px);
    left: calc(50% + 555px);
    transform: translate(-50%, 30%);
    font-family: var(--font-family-accent);
    font-size: 400px;
    opacity: 0.02;
  }

  &__list {
    max-width: 800px;

  }

    &__item {
      white-space: nowrap;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 53px;
      text-align: center;
      font-family: var(--font-family-secondary);
      line-height: 1.3;
    }
  
}
