.testimonials {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

  @include tablet {
    padding-bottom: 100px;
  }

  &::after {
    content: "II";
    position: absolute;
    opacity: 0.02;
    top: 0;
    left: calc(50% + 510px);
    transform: translate(-50%, 0%);
    line-height: 0.6;

    font-size: 400px;
    font-family: var(--font-family-accent);
  }

  &__list {
    max-width: 800px;
  }

  &__item {
    white-space: nowrap;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 53px;
    text-align: center;
    font-family: var(--font-family-secondary);
    line-height: 1.3;
  }
}
