@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{$max / 1200 * 100}vw, #{$max}px);
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin decor {
  position: absolute;
  opacity: 0.02;
  top: 0;
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  line-height: 0.6;
  font-size: 400px;
  font-family: var(--font-family-accent);
  z-index: -1;
}
