:root {
  --color-dark: #242b33;
  --color-dark-footer: #2d343c;
  --color-light: #ffffff;
  --color-accent: #d4c17f;

  --container-width: 1110px;
  --container-padding-x: 15px;

  --font-family-base: "Raleway", sans-serif;
  --font-family-accent: "Playfair Display", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;

  --input-height: 50px;
  --input-padding: 12px;
  --input-color: rgba(255, 255, 255, 0.2);
  --input-placeholder-color: #bebebe;

  --transition-duration: 0.2s;
}
