:root {
  --color-dark: #242b33;
  --color-dark-footer: #2d343c;
  --color-light: #ffffff;
  --color-accent: #d4c17f;

  --container-width: 1110px;
  --container-padding-x: 15px;

  --font-family-base: "Raleway", sans-serif;
  --font-accent: "Playfair Display", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  --transition-duration: 0.2s;
}
